<h1><%= @list.name %></h1>

<h2> Movies in this list:</h2>
<ul>
  <% bookmark.each do |bookmark| %>
    <li>
      <%= bookmark.movie.title %> - <%= bookmark.commment %>
      <%= link_to 'Delete', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add a Movie', new_list_bookmark_path(@list) %>
<%= link_to 'Back to all lists', lists_path %>
